{% extends 'base.jinja' %}
{% block content %}
    <h2>{{book.title}}</h2>
    <ul>
    <li>Author: {{book.author}}</li>
    <li>Genre: {{book.genre}}</li>
    <li>Status:
    {% if book.checked_out == False %}
        Checked in ✅
    {% else %}
        Checked out ❌
    {% endif %}
    </li>
    </ul>
<form action="/library/{{ book_index }}/delete", method="post">
<label for="delete_book"></label>
<input type="submit", value="Delete Book", name="delete_book" id="book_index">
</form>

{% endblock content %}
