{% extends 'base.jinja' %}
{% block content %}
    <div class="align_container title">
        <div class="container">
        <h1>{{ title }}</h1>
    </div></div>
    <div class="align_container">
        <div class="container">
        {% for book in books %}
        <p><a href="/library/{{loop.index}}">{{ book.title }}</a>
            <ul class="book_list">
                <li>Author: {{ book.author }}</li>
                <li>Genre: {{ book.genre }}</li>
                <li>Status:
                    {% if book.checked_out == False %}
                        Checked in ✅
                    {% else %}
                        Checked out ❌
                    {% endif %}
                </li>
            </ul>
        </p>
    {% endfor %}
        </div>
    </div>
{% endblock content %}