{% extends 'base.jinja' %}
{% block content %}
    <div>
        {% for book in books %}
        <p><a href="/library/{{loop.index}}">{{ book.title }}</a>
            <ul>
                <li>Author: {{ book.author }}</li>
                <li>Genre: {{ book.genre }}</li>
            </ul>
        </p>
    {% endfor %}
    </div>
{% endblock content %}